
<div class="card">
  <div class="card-header card-header-tabs card-header-primary">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <span class="nav-tabs-title">Recent Alerts</span>
      </div>
    </div>
  </div>
  <div class="card-body">

      <table class="table">
        <thead class=" text-primary">
          <th>Alert Set</th>
          <th>Condition</th>
          <th>Percent</th>
          <th>Total</th>
        </thead>
        <tbody>
          <tr>
          <td>09/17/2020</td>
          <td>Over</td>
          <td>80%</td>
          <td></td>
        </tr>

        <tr>
          <td>09/17/2020</td>
          <td>Over</td>
          <td>85%</td>
          <td></td>
        </tr>
        <tr>
          <td>09/16/2020</td>
          <td>Under</td>
          <td>70%</td>
          <td></td>
        </tr>
        </tbody>
      </table>

  </div>

</div>
