
<div class="content">
    <div class="container-fluid">
    
        <ul class="nav nav-pills justify-content-center" data-tabs="tabs">
            <li class="nav-item">
                <div class="dropdown">
                  <button (click)="retrieveCategory('segment')" class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Segment
                  </button>
                </div>
            </li>
            <li class="nav-item">
              <div >
              <div class="dropdown">
                <button (click)="retrieveCategory('agent')" class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Agent
                </button>
              </div>
            </div>
            </li>
            <li class="nav-item" >
              <div class="dropdown" >
                <button (click)="retrieveCategory('state')" class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  State
                </button>
              </div>
            </li>
            <li class="nav-item" >
              <div class="dropdown" >
                <button (click)="retrieveCategory('program')" class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Program
                </button>
              </div>
            </li>
          </ul>
    
    <div class="card">
    <div class="card-header card-header-tabs card-header-primary">
    
    </div>
    <div class="card-body">
    <div class="table-responsive">
    
      
      <table class="table">
        <thead class=" text-primary">
          <!-- <th></th> -->
          <th>Name</th>
          <th>Condition</th>
          <th>Amount</th>
          <th>Created Date</th>
          <th>Alert Date</th>
          <th>Reviewer</th>
          <th>Recommendation</th>
          <th>Status</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let segment of rows; let i = index">
          <tr>
            <td></td>
            <td>{{ segment.name }} {{ segment.condition }}</td>
            <td>{{ segment.amount }}</td>
            <td>{{ segment.created_date | date }}</td>
            <td>{{ segment.alert_date | date }}</td>
            <td>{{ segment.reviewer }}</td>
            <td>{{ segment.recommendation }}</td>
            <td>{{ segment.status }}</td>
          </tr>
        </ng-container>
        
        </tbody>
      </table>
    </div>
    </div>
    <div class="card-footer">
      <nav aria-label="...">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="javascript:void(0)" tabindex="-1">
              <i class="material-icons">arrow_left</i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="javascript:void(0)">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)">
              <i class="material-icons">arrow_right</i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    </div>
    
    </div>
    </div>