<div class="card">
    <div class="card-header card-header-tabs card-header-primary">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <span class="nav-tabs-title">Comments:</span>

        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>Comment #</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>Topic</th>
            <th>Comment</th>
            <th>Attached Documents</th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>01/01/2020</td>
              <td>John Doe</td>
              <td>Topic1</td>
              <td>Test Comment</td>
              <td>Document</td>
              <td><button mat-raised-button type="button" matTooltip="Edit Task" class="btn btn-primary btn-link btn-sm btn-just-icon">
              <i class="material-icons">edit</i>
            </button></td>
            </tr>
            <tr>
              <td>2</td>
              <td>01/01/2020</td>
              <td>John Doe</td>
              <td>Topic1</td>
              <td>Test Comment</td>
              <td>Document</td>
              <td><button mat-raised-button type="button" matTooltip="Edit Task" class="btn btn-primary btn-link btn-sm btn-just-icon">
              <i class="material-icons">edit</i>
            </button></td>
            </tr>
            <tr>
              <td>3</td>
              <td>01/01/2020</td>
              <td>John Doe</td>
              <td>Topic1</td>
              <td>Test Comment</td>
              <td>Document</td>
                            <td><button mat-raised-button type="button" matTooltip="Edit Task" class="btn btn-primary btn-link btn-sm btn-just-icon">
                <i class="material-icons">edit</i>
            </button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>